.jumbotron {
    padding: 50px 50px 50px 50px;
    background-color: lightblue;
    color: black;
    margin-top: 50px;
}

.card-hotel {
    flex: 1 200px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}

.btn-book {
    width: 100%;
    border-radius: 0px;
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-top: 100px;
    margin-bottom: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}