// lessc css/styles2.less css/styles2.css

@myblue: #264553;
@myred: #da5050;

.margins(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    padding: 50px 50px 50px 50px;
    background-color: @myblue;
    color: black;
    .margins(50px, 0px);
}
  
  .card-hotel {
    flex: 1 200px;
    padding: 5px 10px 5px 10px;
    .margins(50px, 0px)
}
  
  .btn-book {
    width: 100%;
    border-radius: 0px;
}
  
  .btn-collapse {
    background-color: @myred;
    border-color: black;
}
  
  .footer {
    padding: 10px 10px 0px 10px;
    background-color: @myblue;
    .margins(200px, 0px)
}
  
  .footer-address-icon {
    padding-right: 10px;
}
  
  .tab-content {
    padding-top: 10px;
}
  