.jumbotron {
  padding: 50px 50px 50px 50px;
  background-color: #264553;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  padding: 5px 10px 5px 10px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn-book {
  width: 100%;
  border-radius: 0px;
}
.btn-collapse {
  background-color: #da5050;
  border-color: black;
}
.footer {
  padding: 10px 10px 0px 10px;
  background-color: #264553;
  margin-top: 200px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
